/* Règles générales sur le body */

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* Header */
 
header, nav ul, nav {
    display: flex;
}

header {
    justify-content: space-between;
    margin-top: .5em;
}

img {
    max-width: 30%;
}

nav {
    align-items: center;
}

nav ul {
    list-style: none;
}

nav li {
    margin-left: 2em;   
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color: rgb(47, 15, 134);  
}

/* Main */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/backgroung_image.jpg);
    background-size: cover;
    height: 400px;
}

h1 {
    color: white;
    font-size: 2em;
    font-weight: 400;
}

.description {
    font-size: 1.3em;
    width: 65%;
    text-align: center;
    margin: 3em auto;
    color: rgb(83, 80, 80);
}

.bullet-points {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5em;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
}

.bullet-points article {
    text-align: center;
    width: 30%;
}

article > p {
    font-size: .8em;
    margin: 0 20px;
}

figure {
    width: 70%;
    margin: 0 auto;
}

blockquote {
    font-size: 1.3em;
    text-align: center;
    color: rgb(83, 80, 80);
}

figcaption {
    text-align: center;
    color: rgb(83, 80, 80);
    margin-bottom: 15px;
}

/* Footer */

footer {
    background-color: rgba(91,52,158,255);
}

article > h3, .social {
    color: rgb(157, 128, 236);
}

article li a, .footer-text, .copyright {
    color:white;
}

.copyright {
    font-size: smaller;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
}

i {
    font-size: 2em;
    margin: 10px 35px;
    color: rgb(157, 128, 236);
}

i:hover {
    color:rgb(47, 15, 134);
}

.social {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

h3 {
    font-weight: 400;
    font-size: 1.1em;
}

.contact ul {
    list-style-type: none;
}

.contact ul li::before {  
    /* Création d'un bullet point pour changer sa couleur */
    content: "• ";
    color: white;
}

article > h3 {
    text-align: center;
}

.address {
    font-size: 1em;
}